/* Give each chat a rounded border. */
.chat-div {
  border: thin solid black;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.chat-div:hover .chat-header {
  background-color: #c1f7f4;
}

#chat-list-link {
  color: #20b2aa;
}

#home-link {
  color: #2d4ebd;
}

/* Add a bottom border to the message header. */
.chat-header {
  border-bottom: thin solid black;
  background-color: #b5cbf3;
  padding: 5px;
}

.rounded {
  border: thin solid black;
  border-radius: 5px;
  overflow: hidden;
}

/* Give the message body a margin so the text
    isn't too close to the border. */
.chat-body {
  margin: 2px;
}

/* Use this to hide certain elements like forms if the
    user is not logged in or viewing their own page. */
.hidden {
  display: none;
}
