/* Title styling */
h1 {
  padding-top: 20px;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  color: #20b2aa;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

/* User name styling */
h2 {
    font-family: 'Blippo', fantasy;
    font-size: 30px;
    font-weight: bold;
    color: #070707;
    margin: 30px;
}

/* Profile image styling */
.mainImage {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

/* Button image styling */
.buttonImage {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/* Left button align left*/
.alignleft {
    float: left;
    width: 15%;
    background-color: Transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

/* Right button align right*/
.alignright {
    float: right;
    width: 15%;
    background-color: Transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

/* div for button */
.buttonbox {
    clear: both;
    margin: 10px;
}
