#user-profile-link {
  color: #20b2aa;
}

#home-link {
  color: #2d4ebd;
}

.rounded {
  border: thin solid black;
  border-radius: 5px;
  overflow: hidden;
}

#profile-img {
  width: 50%;
  height: auto;
}

#col-1 {
  float: left;
  width: 30%;
  height: 30%;
}

#col-2 {
  float: left;
}

#col-3 {
  margin-left: 7%; 
  float: left;
}

input {
  margin: 3%;
}